/* 

#1 CSS Variables

:root {
  --awesomeColor: 1px solid red;
}

li:first-child {
    border: var(--awesomeColor);
}

#2 :matches & :not

a:matches(.target) {
  color: gray(20);
}

a:not(.target) {
  text-decoration: none;
}

#3 Custom-selector & Custom-media

@custom-media --ipad-size (300px < width <= 850px);

@custom-selector --heading h1, h2, h3, h4, h5;

@media (--ipad-size) {
  body {
    background-color: #ffbe76;
  }
} 

h1 {
  font-size: 40pt;
  color: #ff7979;
}

h1:hover {
  color: color-mod(#ff7979 lightness(80%));
}
*/

main {
  background-color: blue;
  & section {
    background-color: red;
    width: 500px;
    & li {
      background-color: yellow;
      width: 400px;
      & a {
        color: tomato;
        &:hover {
          font-size: 30px;
        }
      }
    }
  }
}
