:root {
  --awesomeColor: #f6e58d;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.father {
  display: grid;
  grid-auto-rows: minmax(100px, 1fr);
  font-size: 30pt;
}

a {
  background-color: aliceblue;
  border: 1px solid white;
}

a:matches(.target) {
  color: var(--awesomeColor);
}

a:not(.target) {
  text-decoration: none;
}

input:blank {
  background-color: red;
}

:--heading {
  color: #6ab04c;
}
